	/* Small devices (portrait tablets and large phones, 400px and up) */
	@media only screen and (min-width: 300px) {
		body {
			width: 100%;
		}

		.max-mao {
			display: none;

		}

		.watch-mao {
			display: none;

		}

		.text-principal {

			font-size: 3rem;
			text-align: center;
		}


		.img-mao {
			width: 90%;
			margin-left: auto;

		}



		.btn-naoConvecido {
			align-self: center;
			width: 50vw;

		}

		.card-plan-nacional {
			width: 80%;

		}

		.socialFixed {

			bottom: 100px;
			right: -5px;


		}

		.card-plan-nacional-cel {
			display: block;
		}

		.container__Cadastro {
			height: auto;
		}

	}

	@media only screen and (min-width: 600px) {


		.text-principal {
			font-size: 3rem;
		}

		.img-mao {
			width: 85%;
			margin-left: 10vw;
		}



		.card-plan-nacional {
			width: 80%;

		}

		.socialFixed {
			position: fixed;
			bottom: 120px;
			right: 0;
			border-radius: 50%;
			box-sizing: border-box;

		}



	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {

		.card-plan-nacional {
			width: 40%;

		}

		.card-plan-nacional-cel {
			display: block;
		}

		[data-aos-delay] {
			transition-delay: 0 !important;
		}

	}

	@media only screen and (min-width: 1024px) {
		.text-principal {

			font-size: 4rem;
		}

		.img-mao {
			width: 100%;
			margin-left: 0;
		}



		.card-plan-nacional {
			width: 20%;

		}

		.card-plan-nacional-cel {
			display: none;
		}

		.card-plan-nacional-desktop {
			display: block;
		}



		.section-title p {
			width: 50%;
		}

		#footer {
			padding: 20px 15px;
			/* Aumenta o padding para mais espaço */
		}

		.footer-hello {
			display: flex;
			justify-content: center;
			/* Centraliza os itens horizontalmente */
			align-items: center;
			/* Centraliza os itens verticalmente */
			text-align: center;
			padding: 10px 0;
			/* Ajusta o padding para espaçamento vertical */
		}

		.hello-footer-menu {
			display: flex;
			flex-direction: column;
			/* Organiza os itens do menu em coluna */
			align-items: center;
			/* Centraliza os itens do menu */
			padding: 10px;
			margin-bottom: 1rem;
			/* Ajusta a margem inferior */
		}

		.hello-footer-menu li {
			margin-top: 0.625rem;
			width: 100%;
			/* Garante que os links ocupem toda a largura disponível */
		}

		.hello-footer-menu li a {
			text-decoration: none;
			font-size: 16px;
			/* Aumenta o tamanho da fonte para melhor legibilidade */
		}

		.hello-footer-menu a,
		.hello-footer-menu a:focus {
			justify-content: center;
			/* Centraliza o conteúdo dos links */
		}


	}

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		.header-principal {

			font-size: 6rem;
		}


		.watch-mao {
			display: block;

		}

		.max-mao {
			display: block;
			left: 320px;
			top: 200px;
			width: 15vw;
		}

		.watch-mao {
			width: 14vw;
			left: 70px;
			top: px;

		}

		.img-mao {
			width: 80%;


		}


		.btn-headerVerplanos {
			align-self: center;
			width: 25vw;


		}


		#mais1 {
			display: none;
		}

		#mais2 {
			display: none;
		}

		#mais3 {
			display: none;
		}


	}

	@media only screen and (min-width: 1350px) {
		.header-master {

			background-position: center;

		}

		.img-mao {
			width: 90%;
			margin-bottom: 0;


		}

		.max-mao {
			left: 370px;
			top: 200px;
			width: 12vw;
		}

		.watch-mao {
			width: 10vw;
			left: 150px;
			top: 50px;
			max-width: 1500px;
		}



	}

	@media only screen and (min-width: 1450px) {


		.img-mao {
			width: 90%;
			margin-bottom: 0;


		}

		.max-mao {
			left: 370px;
			top: 200px;
			width: 10 vw;
		}

		.watch-mao {
			width: 10vw;
			left: 150px;
			top: 50px;
			max-width: 1500px;
		}



	}